{% load i18n static %}



{% block extrastyle %}

<link rel="stylesheet" type="text/css" href="{% static "files/css/forms.css" %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dropdownfilter-status a').click(function (e) {
            var selectedValue = $(this).text();
            localStorage.setItem('statusFilterValue', selectedValue) // Get the text of the clicked anchor tag
            $('#filter-status').text(selectedValue); 
        });

        $('#dropdownfilter-priority a').click(function (e) {
            var selectedValue = $(this).text();
            localStorage.setItem('priorityFilterValue', selectedValue) // Get the text of the clicked anchor tag
            $('#filter-priority').text(selectedValue); 
        });

        $('#dropdownfilter-isVerified a').click(function (e) {
            var selectedValue = $(this).text();
            localStorage.setItem('isVerifiedFilterValue', selectedValue) // Get the text of the clicked anchor tag
            $('#filter-isVerified').text(selectedValue); 
        });

        $('#dropdownfilter-gender a').click(function (e) {
            var selectedValue = $(this).text();
            localStorage.setItem('genderFilterValue', selectedValue) // Get the text of the clicked anchor tag
            $('#filter-gender').text(selectedValue); 
        });

        $('#dropdownfilter-relation a').click(function (e) {
            var selectedValue = $(this).text();
            localStorage.setItem('relationFilterValue', selectedValue) // Get the text of the clicked anchor tag
            $('#filter-relation').text(selectedValue); 
        });

        // For updating status filter dropdown value when an option is selected
        if(localStorage.getItem('statusFilterValue')){
            $('#filter-status').text(localStorage.getItem('statusFilterValue')); // Update the paragraph text
        }
        else{
            $('#filter-status').text('All');
        }

        if(localStorage.getItem('priorityFilterValue')){
            $('#filter-priority').text(localStorage.getItem('priorityFilterValue')); // Update the paragraph text
        }
        else{
            $('#filter-priority').text('All');
        }

        if(localStorage.getItem('isVerifiedFilterValue')){
            $('#filter-isVerified').text(localStorage.getItem('isVerifiedFilterValue')); // Update the paragraph text
        }
        else{
            $('#filter-is verified').text('All');
        }

        if(localStorage.getItem('genderFilterValue')){
            $('#filter-gender').text(localStorage.getItem('genderFilterValue')); // Update the paragraph text
        }
        else{
            $('#filter-gender').text('All');
        }

        if(localStorage.getItem('relationFilterValue')){
            $('#filter-relation').text(localStorage.getItem('relationFilterValue')); // Update the paragraph text
        }
        else{
            $('#filter-relation').text('All');
        }
    });
</script>

{% endblock %}



<div class="filter_panel nvbar">
    <div class="mb-2 mt-1 dropdn">
        <span class="h6 dropbtn">{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}
            <i class="fa fa-caret-down"></i>
            <p id="{% blocktrans with filter_title=title %}filter-{{ filter_title }}{% endblocktrans %}" class="filter-val">All</p>
        </span>

        <div class="dropdown-content" id="{% blocktrans with filter_title=title %}dropdownfilter-{{ filter_title }}{% endblocktrans %}">
            {% for choice in choices %}
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a>
            {% endfor %}
        </div>
    </div>
</div>
