<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h5 class="title">{{ fieldset.name }}</h5>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}

    <table>
    {% for line in fieldset %}
        <tr>
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}

                {% if not line.fields|length_is:'1' and not field.is_readonly %}
                    <td>{{ field.errors }}</td>
                {% endif %}

                {% if field.is_checkbox %}
                    <td class="form-check">
                        <label class="form-check-label">
                            {{ field.label_tag }}
                            {{ field.field }}
                            <span class="form-check-sign"><span class="check"></span></span>
                        </label>
                    </td>
                {% else %}

                    <td class="ps-5">{{ field.label_tag }}</td>

                    {% if field.is_readonly %}
                    <style>
                        .readonly{
                            margin: 0% auto;
                            font-weight: 500;   
                            margin-left: 3%;    
                        }
                    </style>
                        <td class="readonly">{{ field.contents }}</td>
                    {% else %}
                        <td>{{ field.field }} {#<i class="fa fa-plus"></i>#}</td>
                    {% endif %}
                {% endif %}

                {% if field.field.help_text %}
                    <td class="help">{{ field.field.help_text|safe }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</fieldset>
